@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-neutral-950 text-neutral-50;
    }
}

/* Hide Scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide Scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* 
   GOOGLE TRANSLATE OVERRIDES 
   Hides the top banner and fixes body shift
*/
.goog-te-banner-frame.skiptranslate {
    display: none !important;
}

body {
    top: 0px !important;
}

/* Hides the specific iframe user asked about */
iframe.skiptranslate {
    display: none !important;
    visibility: hidden !important;
}

/* Hide the hovering "Original Text" tooltip popup */
.goog-tooltip {
    display: none !important;
}

.goog-tooltip:hover {
    display: none !important;
}

.goog-text-highlight {
    background-color: transparent !important;
    box-shadow: none !important;
}